@model List<TeacherDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Öğretmenlerimiz</h1>
</div>

<div class="row">
    @foreach (var teacher in Model)
    {
        <div class="col-4">
            <div class="card mb-3" style="width: 18rem;">
                <img class="card-img-top" src="~/images/@teacher.ImageUrl" height="300" alt="teacher-resim">
                <div class="card-body">
                    <h5 class="card-title">@teacher.FirstName @teacher.LastName</h5>
                    <p class="card-text">@teacher.About</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@teacher.Experience Yıllık Deneyim</li>
                    <li class="list-group-item">@($"Ders Saati {teacher.PricePerHour:C0}")</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link text-decoration-none">Detay</a>
                    <a href="#" class="card-link text-decoration-none">Ders Al</a>
                </div>
            </div>
        </div>

    }
</div>
