@using ShoppingApp.Web.Models.Dtos;
@model List<ProductDto> //Index action'ından return edilen veriyi burada model ile karşılıyoruz.
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Ürünler</h1>
</div>
@*<div>
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
            @foreach (var productDto in Model)
            {
                <tr>
                    <td>@productDto.Id</td>
                    <td>@productDto.Name</td>
                    <td>@productDto.Price</td>
                    <td>@productDto.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
<div class="row">
    @foreach (var productDto in Model)
    {
        <div class="col-4 mb-5">
            <div class="card-header bg-dark text-center">
                <h1 class="display-6 fs-3 text-white">@productDto.Name</h1>
            </div>
            <div class="card-img text-center">
                <h4 class="">Fiyat: @productDto.Price</h4>
            </div>
            <div>
                <p class="card-footer bg-success text-white text-center">@productDto.DateAdded</p>
            </div>
        </div>
    }
</div>
